@use 'abstracts/colors/colors' as *;
@use 'abstracts/variables' as *;

.colors-list {
  &__item {
    position: relative;
    height: rem(70);
  }

  &__item:not(:last-of-type) {
    margin-bottom: rem(20);
  }

  &__item::before {
    content: '';
    position: absolute;
    left: -#{rem(110)};
    width: rem(70);
    height: rem(70);
    border-radius: rem(6);
    background-color: currentColor;
  }

  &__info {
    padding-top: rem(10);
  }

  &__name {
    margin-bottom: rem(4);
  }

  &__color-code {
    text-transform: uppercase;
    font-size: rem(19);
    opacity: 1;
  }

  &__item_dark {
    &_100::before {
      background-color: $dark-100;
    }

    &_75::before {
      background-color: $dark-75;
    }

    &_50::before {
      background-color: $dark-50;
    }

    &_25::before {
      background-color: $dark-25;
    }

    &_5::before {
      background-color: $dark-5;
    }
  }

  &__item_purple::before {
    background-color: $primary-accent;
  }

  &__item_green::before {
    background-color: $secondary-accent;
  }
}
