@use './fonts/fonts';

html,
body {
    box-sizing: border-box;
    height: 100%;
    font-family: fonts.$main-font;
}

h1,
h2,
h3,
p,
ul,
ol {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}
