@use './variables' as *;
@use './fonts/fonts';
@use './colors//colors';

html,
body {
  box-sizing: border-box;
  height: 100%;
  font-family: fonts.$main-font, Arial, sans-serif;
  font-size: #{$font-size}px;
  color: colors.$dark-100;
  background-color: #fff;
}

h1,
h2,
h3,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: rem(24);
  line-height: rem(29);
}

h2 {
  font-size: rem(19);
  line-height: rem(24);
}

h3 {
  font-size: rem(12);
  text-transform: uppercase;
  line-height: rem(15);
}

p {
  line-height: rem(24);
  opacity: 0.75;
}

ul {
  list-style: none;
}
