@use './fonts/fonts';
@use './colors//colors';

html,
body {
  box-sizing: border-box;
  height: 100%;
  font-family: fonts.$main-font;
  color: colors.$dark-100;
}

h1,
h2,
h3,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}
