@font-face {
  font-family: 'Montserrat';
  src: local('montserrat'),
    url('./montserrat/regular/montserrat-regular.woff') format('woff'),
    url('./montserrat/regular/montserrat-regular.ttf') format('truetype'),
    url('./montserrat/regular/montserrat-regular.svg#montserrat') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('montserrat'),
    url('./montserrat/bold/montserrat-bold.woff') format('woff'),
    url('./montserrat/bold/montserrat-bold.ttf') format('truetype'),
    url('./montserrat/bold/montserrat-bold.svg#montserrat') format('svg');
  font-weight: 700;
  font-style: normal;
}

$main-font: Montserrat;
