@use 'abstracts/colors/colors' as *;
@use 'abstracts/variables' as *;

.input {
  &_size_large {
    width: rem(320);
  }

  &_size_medium {
    width: rem(266);
  }

  &_size_small {
    width: rem(150);
  }

  &__field-label {
    margin-bottom: rem(5);
  }

  &__state {
    float: right;
    font-weight: 400;
    color: $dark-50;
  }

  @mixin field_default {
    border: 1px solid $dark-25;

    &::placeholder {
      color: $dark-25;
    }
  }

  @mixin field_hover {
    border: 1px solid $dark-50;

    &::placeholder {
      color: $dark-75;
    }
  }

  &__field {
    width: 100%;
    box-sizing: border-box;
    border-radius: rem(4);
    padding: rem(13) 1rem;
    height: rem(44);
    transition: border 0.1s;

    @include field_default;

    &::placeholder {
      transition: color 0.1s;
    }

    &:hover,
    &:focus {
      outline: none;
      @include field_hover;
    }

    &_state_default {
      &:hover,
      &:focus {
        @include field_default;
      }
    }

    &_state_hover {
      @include field_hover;
    }
  }
}
