extends ../../components/layout/layout

block title
    title UI Kit

block content
    nav.nav(style={"display": "flex", "flex-direction": "column", "padding": "20px"})
        a(href="./colors-and-type/colors-and-type.html") Colors #{'&'} Type
        a(href="./form-elements/form-elements.html") Form Elements