extends ../../components/layout/layout

block title
  title UI Kit

block content
  nav.ui-nav
    a.ui-nav__link(href="../colors-and-type/colors-and-type.html") Colors #{'&'} Type
    a.ui-nav__link(href="../form-elements/form-elements.html") Form Elements