ul.list.type-list
    li.type-list__item
        h1.widget-title This one is the sub-section or widget title 
    li.type-list__item
        h2.item-title Next one is the item title inside widgets
    li.type-list__item
        h3.label-text This is a label or CTA text 
    li.type-list__item
        p.body-text This is the body text which is used for most of the design, like paragraphs, lists, etc.