extends ../../components/layout/layout

include ../../components/header/header
include ../../components/input/input

block title
  title Form Elements

block body
  body.layout.layout_unresponsive

  block header
    +header()

  block content
    main.content
      .content__form-elements
        .content__group_top
          .content__column_left
            .content__item.content__item_margin_20
              +input({label: "Text field", type: "email", placeholder: "Email", state: "default"})
            .content__item.content__item_margin_20
              +input({label: "Text field", type: "text", placeholder: "This is pretty awesome", state: "hover"})
            .content__item.content__item_margin_20
              +input({label: "Dropdown", type: "text", placeholder: "Сколько гостей"})