extends ../../components/layout/layout

include ../../components/header/header

block title
  title Form Elements

block body
  body.layout.layout_unresponsive

  block header
    +header()

  block content
    main.content.form-elements