extends ../../../components/layout/layout

block title
    title Colors #{'&'} Type

block body
    body.page.page_unresponsive

    block header
        include ../../../components/header/ui-kit-header

    block content
        //- include ./colors-list/colors-list.pug
        //- include ./type-table/type-table.pug