extends ../../../components/layout/layout

include ../../../components/header/header

block title
    title Colors #{'&'} Type

block body
    body.layout.layout_unresponsive

    block header
        +header(require('./../../../components/header/img/header__logo_transparent.svg'))

    block content
        main.content.colors-and-types
            //- include ./colors-list/colors-list.pug
            include ../../../components/type-table/type-table