extends ../../../components/layout/layout

include ../../../components/header/header
include ../../../components/type-table/type-table

block title
    title Colors #{'&'} Type

block body
    body.layout.layout_unresponsive

    block header
        +header(require('./../../../components/header/img/header__logo_transparent.svg'))

    block content
        main.content.colors-and-types
            include ../../../components/colors-list/colors-list
            +type-table()(class='colors-and-types__table')