extends ../../../components/layout/layout

include ../../../components/header/header

block title
    title Colors #{'&'} Type

block body
    body.page.page_unresponsive

    block header
        +header(require('./../../../components/header/img/header__logo_transparent.svg'))

    block content
        //- include ./colors-list/colors-list.pug
        //- include ./type-table/type-table.pug