doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        block title
    block body
        body(class="page")
        
        block header
        block content
        block footer