extends ../common/page/page.pug

block title
    title Colors #{'&'} Type

block body
    body(class="page page_unresponsive")

    block header
        include ../common/ui-kit-header/ui-kit-header.pug