extends ../common/page/page.pug

block title
    title Colors #{'&'} Type

block body
    body.page.page_unresponsive

    block header
        include ../common/ui-kit-header/ui-kit-header.pug

    block content
        //- include ./colors-list/colors-list.pug
        include ./type-table/type-table.pug