.widget-title {
    font-size: 24px;
    line-height: 29px;
}

.item-title {
    font-size: 19px;
    line-height: 24px;
}

.label-text {
    font-size: 12px;
    text-transform: uppercase;
    line-height: 15px;
}

.text {
    font-size: 14px;
    line-height: 24px;
}

.type-table {
    width: 440px;
    border-collapse: collapse;
    margin-left: 844px;

    &__body {
        vertical-align: top;
    }

    &__marker {
        text-align: right;
        padding-right: 30px;
    }

    &__widget-title {
        margin-bottom: 50px;
    }

    &__item-title {
        margin-bottom: 48px;
    }

    &__label-text {
        margin-bottom: 45px;
    }
}
