@use 'abstracts/variables' as *;

.type-table {
  width: rem(440);
  border-collapse: collapse;

  &__body {
    vertical-align: top;
  }

  &__marker-info {
    padding-right: rem(29);
  }

  &__marker {
    text-align: right;
    opacity: 0.25;
    font-weight: 400;
  }

  &__widget-title {
    margin-bottom: rem(50);
  }

  &__item-title {
    margin-bottom: rem(48);
  }

  &__label-text {
    margin-bottom: rem(45);
  }
}
