table.type-table
    tbody.type-table__body
        tr.type-table__row
            td.type-table__tag 
                p.widget-title H1
            td.type-table__example 
                h1.widget-title This one is the sub-section or widget title
        tr.type-table__row
            td.type-table__tag 
                p.item-title H2
            td.type-table__example 
                h2.item-title Next one is the item title inside widgets
        tr.type-table__row
            td.type-table__tag
                p.label-text H3
            td.type-table__example 
                h3.label-text This is a label or CTA text
        tr.type-table__row
            td.type-table__tag 
                p.body-text Body
            td.type-table__example 
                p.body-text
                    | This is the body text which is used for most <br/>
                    | of the design, like paragraphs, lists, etc.