doctype html
html(lang="en")
    head
        title Toxin
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
    body
        a(href="./components/ui_kit/ui_map.html") UI Kit