mixin colorsListItem(item)
  li.colors-list-item(class=`colors-list-item_${item.class}`)&attributes(attributes)
    .colors-list-item__info
      h2.colors-list-item__name.item-title= item.colorName
      p.colors-list-item__color-code.item-title= item.colorCode